<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link ref="icon" type='image/png' href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpMessage}}</p>
        {{>footer}}
    </div>


</body>

</html>